@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
}

.main {
  background-image: url("assets/images/bg.jpg.jpg");
  height: 70vh;
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  position: relative;
}

.main .box {
  height: 70vh;
  width: 100%;
  opacity: 0.55;
  background-color: black;
  position: absolute;
  top: 0;
}

nav {
  max-width: 60vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

nav img {
  width: 130px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  height: calc(100% - 62px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 15px;
  padding: 0 30px;
}

.hero > :nth-child(1) {
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.sepration {
  height: 7px;
  background-color: rgb(35 35 35);
}

.btn {
  padding: 3px 8px;
  font-weight: bold;
  font-weight: 400;
  color: white;
  background-color: rgba(255, 255, 255, 0.028);
  border: 1px solid rgba(255, 255, 255, 0.028);
  border-radius: 4px;
  cursor: pointer;
}

.btn-red {
  height: 58px;
  width: 200px;
  background-color: red;
  color: white;
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 4px;
  font-weight: 600;
}

.btn-red-sm {
  background-color: red;
  color: white;
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.main input {
  height: 40px;
  width: 200px;
  padding: 7px 101px 7px 14px;
  color: white;
  font-weight: 500;
  font-size: 19px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(244, 240, 240, 0.7);
}

.first {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  align-items: center;
}

.secImg {
  width: 555px;
  position: relative;
  z-index: 10;
}

#sec1Video {
  position: absolute;
  text-align: center;
  padding: 95px 9px 10px 75px;
  z-index: -1;
}

#thirdImg {
  width: 555px;
  position: relative;
  z-index: 10;
}
#third-video-source {
  width: 406px;
}

#thirdVideo {
  position: absolute;
  text-align: center;
  padding: 41px 7px 0px 114px;
  z-index: -1;
}

.first > div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}

.first > div :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
}

.first > div :nth-child(2) {
  font-size: 24px;
}

.faq {
  background-color: black;
  color: white;
  padding: 34px;
}

.faq h2 {
  text-align: center;
  font-size: 48px;
}

.faqbox {
  display: flex;
  padding: 24px;
  margin: 25px auto;
  background-color: rgb(128 128 128 / 33%);
  width: 50vw;
  justify-content: space-between;
  cursor: pointer;
  font-size: 24px;
  transition: all 1s ease-out;
}

.faqbox:hover {
  background-color: rgba(128, 128, 128, 0.521);
}

footer {
  color: white;
  max-width: 60vw;
  margin: auto;
  padding: 34px;
}

.questions {
  padding: 34px 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}

@media screen and (max-width: 1300px) {
  nav {
    max-width: 90vw;
  }

  .first {
    flex-wrap: wrap;
  }
  .secImg img {
    width: 305px;
  }

  .secImg video {
    width: 305px;
  }

  .hero > :nth-child(1) {
    font-size: 32px;
  }

  .hero > :nth-child(2) {
    font-size: 18px;
  }

  .hero > :nth-child(3) {
    font-size: 18px;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
  }

  .faq h2 {
    text-align: center;
    font-size: 32px;
  }

  footer {
    max-width: 90vw;
  }

  .footer-item {
    align-items: center;
  }

  .first > div {
    text-align: center;
  }
}

@media screen and (max-width: 1300px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
}

@media screen and (max-width: 400px) {
  nav img {
    width: 78px;
  }
  .hero > :nth-child(1) {
    font-size: 22px;
  }
  .hero > :nth-child(2) {
    font-size: 13px;
  }
  .hero > :nth-child(3) {
    font-size: 13px;
  }
  .main input {
    padding: 7px 13px 7px 14px;
    height: 24px;
  }
  .btn-red {
    height: 30px;
    width: 142px;
    padding: 0px 11px;
    font-size: 16px;
  }

  #sec1Video {
    padding: 44px 0px 0px 1px;
  }
}

.footer a {
  font-size: 14px;
  color: white;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
